/* Import Base */
body {
  font-family: Calibri;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 221, 221) 100%, rgb(255, 255, 255) 100%);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/********* Scrollbar *********/
/* Works on Firefox */
* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #f2f2f2;
}

*::-webkit-scrollbar-thumb {
  background-color: #878787;
  border-radius: 20px;
  border-right: 1px solid #f0f0f0;
  color: rgba(253, 50, 138, 0.862745098);
}

/********* EOF Scrollbar *********/
/* Import Layouts */
.Admin-logo {
  width: 100%;
  font-size: 2.5rem;
  color: #ee0067;
  text-align: center;
  margin-left: -4%;
}

/* Import Components */
header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0.4rem;
  margin-bottom: 4.5rem;
}
header .Header-logo {
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  margin-left: 0.8rem;
  padding-top: 0.125rem;
  color: #ee0067;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 1.5rem;
  padding: 0.6rem 0.55rem;
  cursor: pointer;
}
header .Header-right-items {
  padding-top: 0.4rem;
  padding-right: 0.8rem;
}
header .Header-right-items .Header-right-items-icon {
  font-size: 1.25rem;
  margin-left: 1rem;
  cursor: pointer;
}

.Rules {
  text-align: center;
}
.Rules .Rules-and-action-text b {
  font-weight: 500;
}
.Rules .Rules-how-to-play-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ee0067;
}

.Grid {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0.1rem;
}
.Grid .Grid-wrapper {
  display: flex;
  justify-content: right;
  width: 44.5rem;
}
.Grid .Grid-wrapper .Grid-box {
  width: 26.7rem;
  height: 26.8rem;
  background: #fff;
  border-radius: 1.2rem;
  margin-top: 3.25rem;
}
.Grid .Grid-wrapper .Grid-box .Grid-box-row {
  display: flex;
}
.Grid .Grid-wrapper .Grid-box .Grid-box-row:first-of-type .Cell:first-of-type .Cell-box-wrapper {
  border-top-left-radius: 1.2rem;
}
.Grid .Grid-wrapper .Grid-box .Grid-box-row:first-of-type .Cell:last-of-type .Cell-box-wrapper {
  border-top-right-radius: 1.2rem;
}
.Grid .Grid-wrapper .Grid-box .Grid-box-row:last-of-type .Cell:first-of-type .Cell-box-wrapper {
  border-bottom-left-radius: 1.2rem;
}
.Grid .Grid-wrapper .Grid-box .Grid-box-row:last-of-type .Cell:last-of-type .Cell-box-wrapper {
  border-bottom-right-radius: 1.2rem;
}
.Grid .Grid-wrapper .Grid-guess-wrapper {
  width: fit-content;
  font-size: 1.15rem;
  margin-top: 13rem;
  margin-left: 1.75rem;
  font-weight: 500;
  color: #555555;
}
.Grid .Grid-wrapper .Grid-guess-wrapper .Grid-view-result-text {
  font-size: 1rem;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  color: #fd860e;
}
.Grid .Grid-wrapper .Grid-guess-wrapper p:last-of-type {
  text-align: center;
  font-size: 4.4rem;
  font-weight: bold;
  margin-top: -1.3rem;
  color: #ee0067;
}

@media (min-width: 325px) and (max-width: 880px) {
  .Grid {
    justify-content: right;
    padding-top: 2rem;
  }
  .Grid .Grid-wrapper {
    width: 100% !important;
    flex-direction: column;
  }
  .Grid .Grid-wrapper .Grid-guess-wrapper {
    width: 100% !important;
    text-align: center !important;
    margin: 15% 0 -20% -10%;
  }
  .Grid .Grid-box {
    width: 16.05rem !important;
    height: 16rem !important;
  }
  .Grid .Grid-box .Grid-box-row .Cell .Cell-box-wrapper {
    width: 5.4rem;
    height: 5.4rem;
  }
}
@media (min-width: 381px) and (max-width: 880px) {
  .Grid {
    justify-content: center !important;
    margin-left: 8%;
  }
}
@media (min-width: 801px) {
  .Grid {
    justify-content: center !important;
    margin-left: 3%;
  }
}
.Cell {
  position: relative;
}
.Cell .Cell-box-wrapper {
  width: 9rem;
  height: 9rem;
  border: 1px solid #dfdfdf;
  margin: -0.5px;
}
.Cell .Cell-box-wrapper:hover {
  background: #e89090;
}
.Cell .Cell-box-wrapper .Cell-box img {
  width: 100%;
  height: 8.9rem;
}
.Cell .Cell-box-wrapper .Cell-box-A img {
  border-top-left-radius: 1.2rem;
}
.Cell .Cell-box-wrapper .Cell-box-C img {
  border-top-right-radius: 1.2rem;
}
.Cell .Cell-box-wrapper .Cell-box-G img {
  border-bottom-left-radius: 1.2rem;
}
.Cell .Cell-box-wrapper .Cell-box-I img {
  border-bottom-right-radius: 1.2rem;
}
.Cell .Cell-left-img-with-text-wrapper {
  position: absolute;
  top: 0;
  left: -6rem;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
}
.Cell .Cell-left-img-with-text-wrapper img {
  border-radius: 0.85rem;
}
.Cell .Cell-left-img-with-text-wrapper .Cell-left-img-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  top: 0;
  left: -10rem;
  text-align: center;
  word-break: keep-all;
  font-size: 1.35rem;
}
.Cell .Cell-top-img-with-text-wrapper {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.Cell .Cell-top-img-with-text-wrapper img {
  margin-bottom: 0.55rem;
  border-radius: 0.85rem;
}
.Cell .Cell-top-img-with-text-wrapper .Cell-top-img-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 4rem;
  font-size: 1.3rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  word-break: keep-all;
  padding: 0 0.6rem 0.15rem 0.6rem;
}
.Cell .Cell-left-text-wrapper {
  position: absolute;
  left: -108.5%;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  font-size: 1.65rem;
  word-break: keep-all;
  padding: 0 0.6rem;
}
.Cell .Cell-left-text-wrapper .Cell-left-text {
  padding: 0;
  margin: 0;
}
.Cell .Cell-top-text-wrapper {
  position: absolute;
  top: -111%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-size: 1.65rem;
  word-break: keep-all;
  padding: 0 0.6rem;
}
.Cell .Cell-top-text-wrapper .Cell-top-text {
  padding: 0;
  margin: 0;
}

.Cell-modal-heading {
  text-align: center;
  font-weight: bold;
  color: #ee0067;
  font-size: 1.3rem;
}

.Cell-modal-info-text {
  font-size: 0.9rem;
  color: #3d3d3d;
  text-align: center;
  margin-top: -0.4rem;
}

.Cell-modal-select-movies-wrapper {
  margin-top: 0.95rem;
}
.Cell-modal-select-movies-wrapper .Cell-modal-select-movies {
  width: 100%;
}

.Cell-modal-select-movies-item-label-jsx {
  display: flex;
  justify-content: space-between;
}
.Cell-modal-select-movies-item-label-jsx p:last-of-type {
  font-size: 0.9rem;
  color: #ff3b3b;
  margin-right: 0.4rem;
}

@media (min-width: 325px) and (max-width: 880px) {
  .Cell .Cell-box img {
    width: 100%;
    height: 5.3rem !important;
  }
  .Cell .Cell-box-A img {
    border-top-left-radius: 1.2rem;
  }
  .Cell .Cell-box-C img {
    border-top-right-radius: 1.2rem;
  }
  .Cell .Cell-box-G img {
    border-bottom-left-radius: 1.2rem;
  }
  .Cell .Cell-box-I img {
    border-bottom-right-radius: 1.2rem;
  }
  .Cell p {
    font-size: 1.05rem;
  }
  .Cell-left-img-with-text-wrapper {
    top: -0.4rem !important;
    left: -4.45rem !important;
    align-items: center !important;
  }
  .Cell-left-img-with-text-wrapper img {
    width: 4rem;
    height: 3rem;
  }
  .Cell-left-img-with-text-wrapper .Cell-left-img-text {
    width: 4.78rem !important;
    top: 4.2rem !important;
    height: 3rem !important;
    left: -0.5rem !important;
    font-size: 0.9rem !important;
    align-items: flex-start !important;
  }
  .Cell-top-img-with-text-wrapper .Cell-top-img-text {
    font-size: 0.8rem !important;
  }
  .Cell-top-img-text {
    font-size: 0.9rem !important;
    top: -4rem !important;
  }
  .Cell-top-text {
    top: -9rem !important;
  }
  .Cell-left-text {
    width: 3rem !important;
    left: -4rem !important;
  }
}
@media (min-width: 801px) {
  .Cell-top-img-with-text-wrapper img {
    width: 4.3rem;
    height: 4.3rem;
  }
}
.Summary h3 {
  text-align: center;
  text-decoration: underline;
}

.SummaryGrid {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0.1rem;
}
.SummaryGrid .SummaryGrid-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.SummaryGrid .SummaryGrid-wrapper .SummaryGrid-box {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 1.2rem;
}
.SummaryGrid .SummaryGrid-wrapper .SummaryGrid-box .SummaryGrid-box-row {
  display: flex;
}
.SummaryGrid .SummaryGrid-wrapper .SummaryGrid-box .SummaryGrid-box-row:first-of-type .SummaryCell:first-of-type .SummaryCell-box-wrapper {
  border-top-left-radius: 1.2rem;
}
.SummaryGrid .SummaryGrid-wrapper .SummaryGrid-box .SummaryGrid-box-row:first-of-type .SummaryCell:last-of-type .SummaryCell-box-wrapper {
  border-top-right-radius: 1.2rem;
}
.SummaryGrid .SummaryGrid-wrapper .SummaryGrid-box .SummaryGrid-box-row:last-of-type .SummaryCell:first-of-type .SummaryCell-box-wrapper {
  border-bottom-left-radius: 1.2rem;
}
.SummaryGrid .SummaryGrid-wrapper .SummaryGrid-box .SummaryGrid-box-row:last-of-type .SummaryCell:last-of-type .SummaryCell-box-wrapper {
  border-bottom-right-radius: 1.2rem;
}

.SummaryCell {
  position: relative;
}
.SummaryCell .SummaryCell-box-wrapper {
  width: 4.1rem;
  height: 4.1rem;
  border: 1px solid #dfdfdf;
  margin: -0.5px;
}
.SummaryCell .SummaryCell-box-active {
  background: green;
}

.TodaysMovieGridStats {
  margin-top: 1.6rem;
}
.TodaysMovieGridStats .TodaysMovieGridStats-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 0.8rem;
}
.TodaysMovieGridStats .TodaysMovieGridStats-wrapper div p {
  text-align: center;
}
.TodaysMovieGridStats .TodaysMovieGridStats-wrapper div p:first-of-type {
  font-weight: bold;
  margin-bottom: -0.3rem;
}
.TodaysMovieGridStats .TodaysMovieGridStats-wrapper div p:last-of-type {
  font-weight: bolder;
  font-size: 2rem;
}

.SummaryMetricGrid {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0.1rem;
  margin-left: 10% !important;
}
.SummaryMetricGrid .SummaryMetricGrid-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.SummaryMetricGrid .SummaryMetricGrid-wrapper .SummaryMetricGrid-box {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 1.2rem;
  margin-top: 3.25rem;
}
.SummaryMetricGrid .SummaryMetricGrid-wrapper .SummaryMetricGrid-box .SummaryMetricGrid-box-row {
  display: flex;
}
.SummaryMetricGrid .SummaryMetricGrid-wrapper .SummaryMetricGrid-box .SummaryMetricGrid-box-row:first-of-type .SummaryMetricCell:first-of-type .SummaryMetricCell-box-wrapper {
  border-top-left-radius: 1.2rem;
}
.SummaryMetricGrid .SummaryMetricGrid-wrapper .SummaryMetricGrid-box .SummaryMetricGrid-box-row:first-of-type .SummaryMetricCell:last-of-type .SummaryMetricCell-box-wrapper {
  border-top-right-radius: 1.2rem;
}
.SummaryMetricGrid .SummaryMetricGrid-wrapper .SummaryMetricGrid-box .SummaryMetricGrid-box-row:last-of-type .SummaryMetricCell:first-of-type .SummaryMetricCell-box-wrapper {
  border-bottom-left-radius: 1.2rem;
}
.SummaryMetricGrid .SummaryMetricGrid-wrapper .SummaryMetricGrid-box .SummaryMetricGrid-box-row:last-of-type .SummaryMetricCell:last-of-type .SummaryMetricCell-box-wrapper {
  border-bottom-right-radius: 1.2rem;
}
.SummaryMetricGrid .SummaryMetricGrid-wrapper .SummaryMetricGrid-guess-wrapper {
  width: fit-content;
  font-size: 1.15rem;
  margin-top: 13rem;
  margin-left: 1.75rem;
  font-weight: 500;
  color: #555555;
}
.SummaryMetricGrid .SummaryMetricGrid-wrapper .SummaryMetricGrid-guess-wrapper .SummaryMetricGrid-view-result-text {
  font-size: 1rem;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  color: #fd860e;
}
.SummaryMetricGrid .SummaryMetricGrid-wrapper .SummaryMetricGrid-guess-wrapper p:last-of-type {
  text-align: center;
  font-size: 4.4rem;
  font-weight: bold;
  margin-top: -1.3rem;
  color: #363636;
}

.SummaryMetricGrid-top-text-detected {
  margin-top: -4.5rem !important;
  padding-left: 4rem !important;
}

@media (min-width: 325px) and (max-width: 380px) {
  .SummaryMetricGrid {
    margin-left: 5%;
  }
  .SummaryMetricGrid-top-img-with-text-detected {
    margin-top: -1.8rem;
  }
  .SummaryMetricGrid-top-text-detected {
    margin-top: -5.2rem !important;
    margin-left: -0.4rem !important;
  }
}
@media (min-width: 381px) and (max-width: 880px) {
  .SummaryMetricGrid {
    justify-content: right;
    padding-top: 2rem;
    margin-left: 5% !important;
  }
  .SummaryMetricGrid .SummaryMetricGrid-wrapper {
    width: 100% !important;
    flex-direction: column;
  }
  .SummaryMetricGrid .SummaryMetricGrid-box {
    width: 16.05rem !important;
    height: 16rem !important;
  }
  .SummaryMetricGrid .SummaryMetricGrid-box .SummaryMetricGrid-box-row .Cell .Cell-box-wrapper {
    width: 5.4rem;
    height: 5.4rem;
  }
  .SummaryMetricGrid-left-img-detected {
    margin-left: 2.7rem !important;
  }
  .SummaryMetricGrid-top-text-detected {
    margin-top: -6.5rem !important;
  }
  .SummaryMetricGrid-left-img-with-text-detected {
    padding-left: 15.5%;
  }
  .SummaryMetricGrid-left-text-detected {
    margin-top: -4.3rem;
  }
  .SummaryMetricGrid-only-img-detected {
    margin-top: 1.5rem;
  }
  .SummaryMetricGrid-top-text-detected {
    margin-left: -0.4rem !important;
  }
}
@media (min-width: 381px) and (max-width: 880px) {
  .SummaryMetricGrid {
    justify-content: center !important;
    margin-left: 8%;
  }
}
@media (min-width: 801px) {
  .SummaryMetricGrid {
    justify-content: center !important;
    margin-left: 3%;
  }
  .SummaryMetricGrid-top-text-detected {
    margin-left: -0.2rem !important;
  }
}
.SummaryMetricCell {
  position: relative;
}
.SummaryMetricCell .SummaryMetricCell-box-wrapper {
  width: 5rem;
  height: 5rem;
  border: 1px solid #dfdfdf;
  margin: -0.5px;
}
.SummaryMetricCell .SummaryMetricCell-box-wrapper .SummaryMetricCell-box img {
  width: 100%;
  height: 8.9rem;
}
.SummaryMetricCell .SummaryMetricCell-box-wrapper .SummaryMetricCell-box-A img {
  border-top-left-radius: 1.2rem;
}
.SummaryMetricCell .SummaryMetricCell-box-wrapper .SummaryMetricCell-box-C img {
  border-top-right-radius: 1.2rem;
}
.SummaryMetricCell .SummaryMetricCell-box-wrapper .SummaryMetricCell-box-C .MostPopular-cell-wrapper .MostPopular-cell-percentage {
  border-top-right-radius: 1.2rem;
}
.SummaryMetricCell .SummaryMetricCell-box-wrapper .SummaryMetricCell-box-G img {
  border-bottom-left-radius: 1.2rem;
}
.SummaryMetricCell .SummaryMetricCell-box-wrapper .SummaryMetricCell-box-G .MostPopular-cell-wrapper .MostPopular-cell-movie-title {
  bottom: -0.57rem;
  border-bottom-left-radius: 1.2rem;
}
.SummaryMetricCell .SummaryMetricCell-box-wrapper .SummaryMetricCell-box-H .MostPopular-cell-wrapper .MostPopular-cell-movie-title {
  bottom: -0.57rem;
}
.SummaryMetricCell .SummaryMetricCell-box-wrapper .SummaryMetricCell-box-I img {
  border-bottom-right-radius: 1.2rem;
}
.SummaryMetricCell .SummaryMetricCell-box-wrapper .SummaryMetricCell-box-I .MostPopular-cell-wrapper .MostPopular-cell-movie-title {
  bottom: -0.57rem;
  border-bottom-right-radius: 1.2rem;
}
.SummaryMetricCell .SummaryMetricCell-left-img-with-text-wrapper {
  position: absolute;
  top: 0;
  left: -5rem;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
}
.SummaryMetricCell .SummaryMetricCell-left-img-with-text-wrapper img {
  border-radius: 0.85rem;
}
.SummaryMetricCell .SummaryMetricCell-left-img-with-text-wrapper .SummaryMetricCell-left-img-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  top: 0;
  left: -5.5rem;
  text-align: center;
  word-break: keep-all;
  font-size: 0.9rem;
}
.SummaryMetricCell .SummaryMetricCell-left-img-with-no-text {
  align-items: center !important;
}
.SummaryMetricCell .SummaryMetricCell-top-img-with-text-wrapper {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.SummaryMetricCell .SummaryMetricCell-top-img-with-text-wrapper img {
  margin-bottom: 0.55rem;
  border-radius: 0.85rem;
}
.SummaryMetricCell .SummaryMetricCell-top-img-with-text-wrapper .SummaryMetricCell-top-img-text {
  position: absolute;
  top: -4rem;
  left: 0;
  width: 100%;
  height: 100%;
  height: 4rem;
  font-size: 0.9rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  word-break: keep-all;
  padding: 0 0.6rem 0.15rem 0.6rem;
}
.SummaryMetricCell .SummaryMetricCell-left-text-wrapper {
  position: absolute;
  left: -108.5%;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  word-break: keep-all;
  padding: 0 0.6rem;
}
.SummaryMetricCell .SummaryMetricCell-left-text-wrapper .SummaryMetricCell-left-text {
  padding: 0;
  margin: 0;
}
.SummaryMetricCell .SummaryMetricCell-top-text-wrapper {
  position: absolute;
  top: -111%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-size: 1rem;
  word-break: keep-all;
  padding: 0 0.6rem;
}
.SummaryMetricCell .SummaryMetricCell-top-text-wrapper .SummaryMetricCell-top-text {
  padding: 0;
  margin: 0;
}

@media (min-width: 325px) and (max-width: 380px) {
  .SummaryMetricCell .SummaryMetricCell-box-wrapper {
    width: 4rem;
    height: 4rem;
    border: 1px solid #dfdfdf;
    margin: -0.5px;
  }
  .SummaryMetricCell .SummaryMetricCell-left-text-wrapper {
    font-size: 0.8rem;
  }
  .SummaryMetricCell .SummaryMetricCell-top-text-wrapper {
    font-size: 0.8rem;
  }
  .SummaryMetricCell .SummaryMetricCell-box-G .MostPopular-cell-wrapper img {
    height: 4.1rem !important;
  }
  .SummaryMetricCell .SummaryMetricCell-box-G .MostPopular-cell-wrapper .MostPopular-cell-movie-title {
    bottom: -0.49rem !important;
  }
  .SummaryMetricCell .SummaryMetricCell-box-H .MostPopular-cell-wrapper img {
    height: 4.1rem !important;
  }
  .SummaryMetricCell .SummaryMetricCell-box-H .MostPopular-cell-wrapper .MostPopular-cell-movie-title {
    bottom: -0.49rem !important;
  }
  .SummaryMetricCell .SummaryMetricCell-box-I .MostPopular-cell-wrapper img {
    height: 4.1rem !important;
  }
  .SummaryMetricCell .SummaryMetricCell-box-I .MostPopular-cell-wrapper .MostPopular-cell-movie-title {
    bottom: -0.49rem !important;
  }
  .SummaryMetricCell-left-img-with-text-wrapper {
    top: 18% !important;
    left: -4.45rem !important;
    align-items: flex-start !important;
  }
  .SummaryMetricCell-left-img-with-text-wrapper img {
    width: 3.3rem;
    height: 2.1rem;
  }
  .SummaryMetricCell-left-img-with-text-wrapper .SummaryMetricCell-left-img-text {
    width: 4.78rem !important;
    top: 2.1rem !important;
    line-height: 0.81rem;
    height: 3rem !important;
    left: -0.7rem !important;
    font-size: 0.68rem !important;
    justify-content: center !important;
    align-items: flex-start !important;
  }
  .SummaryMetricCell-top-img-with-text-wrapper img {
    width: 3.3rem;
    height: 2.9rem;
  }
  .SummaryMetricCell-top-img-with-text-wrapper .SummaryMetricCell-top-img-text {
    font-size: 0.8rem !important;
  }
  .SummaryMetricCell-top-img-text {
    font-size: 0.68rem !important;
    top: -3.7rem !important;
  }
  .SummaryMetricCell-top-text {
    top: -9rem !important;
  }
  .SummaryMetricCell-left-text {
    width: 3rem !important;
    left: -4rem !important;
  }
}
@media (min-width: 381px) and (max-width: 880px) {
  .SummaryMetricCell .SummaryMetricCell-box img {
    width: 100%;
    height: 5.3rem !important;
  }
  .SummaryMetricCell .SummaryMetricCell-box-A img {
    border-top-left-radius: 1.2rem;
  }
  .SummaryMetricCell .SummaryMetricCell-box-C img {
    border-top-right-radius: 1.2rem;
  }
  .SummaryMetricCell .SummaryMetricCell-box-G img {
    border-bottom-left-radius: 1.2rem;
  }
  .SummaryMetricCell .SummaryMetricCell-box-I img {
    border-bottom-right-radius: 1.2rem;
  }
  .SummaryMetricCell-left-img-with-text-wrapper {
    top: 0 !important;
    left: -4.45rem !important;
    align-items: center !important;
  }
  .SummaryMetricCell-left-img-with-text-wrapper img {
    width: 4rem;
    height: 3rem;
  }
  .SummaryMetricCell-left-img-with-text-wrapper .SummaryMetricCell-left-img-text {
    width: 4.78rem !important;
    top: 4rem !important;
    line-height: 0.8rem;
    height: 3rem !important;
    left: -0.3rem !important;
    font-size: 0.62rem !important;
    justify-content: center !important;
    align-items: flex-start !important;
  }
  .SummaryMetricCell-top-img-with-text-wrapper .SummaryMetricCell-top-img-text {
    font-size: 0.8rem !important;
  }
  .SummaryMetricCell-top-img-text {
    font-size: 0.9rem !important;
    top: -4rem !important;
  }
  .SummaryMetricCell-top-text {
    top: -9rem !important;
  }
  .SummaryMetricCell-left-text {
    width: 3rem !important;
    left: -4rem !important;
  }
}
@media (min-width: 801px) {
  .SummaryMetricCell-top-img-with-text-wrapper img {
    width: 4.3rem;
    height: 4.3rem;
  }
}
.PossibleAnswers .PossibleAnswers-tap-show-info-text {
  text-align: center;
}
.PossibleAnswers .PossibleAnswers-cell-wrapper {
  width: 100%;
  height: 100%;
  align-items: center;
}
.PossibleAnswers .PossibleAnswers-cell-wrapper p {
  text-align: center;
}
.PossibleAnswers .PossibleAnswers-cell-wrapper .PossibleAnswers-cell-answers-count {
  margin-top: 1.07rem;
  font-weight: bold;
}
.PossibleAnswers .PossibleAnswers-cell-wrapper .PossibleAnswers-cell-show-text {
  margin-top: -1rem;
  font-size: 0.72rem;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.PossibleAnswers-cell-show-answers-popup-content {
  z-index: 10000 !important;
}
.PossibleAnswers-cell-show-answers-popup-content .PossibleAnswers-cell-answers-popup-items-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 0.2rem;
  row-gap: 0.2rem;
  flex-wrap: wrap;
}
.PossibleAnswers-cell-show-answers-popup-content .PossibleAnswers-cell-answers-popup-items-wrapper .PossibleAnswers-cell-answers-popup-item-pill {
  background: #1a1a1a;
  color: #fff;
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
}

.MostPopular {
  margin-top: 2rem;
}
.MostPopular .MostPopular-tap-a-movie-info-text {
  text-align: center;
}
.MostPopular .MostPopular-cell-wrapper {
  position: relative;
}
.MostPopular .MostPopular-cell-wrapper img {
  width: 100% !important;
  height: 5rem !important;
}
.MostPopular .MostPopular-cell-wrapper .MostPopular-cell-percentage {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.56rem;
  background: #1d1d1d;
  color: #fff;
  opacity: 0.925;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: right;
  padding: 0.05rem 0.3rem 0.05rem 0;
  border-bottom-left-radius: 1.2rem;
}
.MostPopular .MostPopular-cell-wrapper .MostPopular-cell-movie-title {
  position: absolute;
  bottom: -0.5rem;
  width: 100%;
  background: #1d1d1d;
  color: #fff;
  opacity: 0.925;
  font-size: 0.55rem;
  padding: 0.1rem 0.2rem;
  text-align: center;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}
.MostPopular .MostPopular-cell-wrapper .MostPopular-not-yet-answered {
  font-size: 0.75rem;
  text-align: center;
  font-weight: 500;
  margin-top: 23.5%;
  color: #ff4949;
}

@media (min-width: 325px) and (max-width: 380px) {
  .MostPopular-cell-movie-title {
    line-height: 0.7rem;
    bottom: 0.5rem !important;
  }
}
.Accuracy {
  margin-top: 2rem;
}
.Accuracy .Accuracy-tap-show-info-text {
  text-align: center;
}
.Accuracy .Accuracy-cell-wrapper .Accuracy-cell-percentage {
  text-align: center;
  font-weight: bold;
  font-size: 1.05rem;
  margin-top: 30.78%;
}

.PlayerScores {
  width: 100%;
  overflow: hidden;
  margin-top: 2rem;
}
.PlayerScores .PlayerScores-heading {
  margin-bottom: 1.05rem;
}

footer {
  background: #fff;
  text-align: center;
  border-top: 1px solid #e0e0e0;
  margin-top: 4.5rem;
  padding: 1.6rem 0 0.45rem 0;
}
footer .Footer-disclaimer-wrapper {
  padding: 0 10.5%;
}
footer .Footer-disclaimer-wrapper p {
  text-align: center;
  font-size: 0.8rem;
  color: #808080;
}

/*# sourceMappingURL=style.css.map */
