/* Import Base */
body {
  font-family: Calibri;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 221, 221) 100%, rgb(255, 255, 255) 100%);
  scrollbar-width: thin;
}

a {
  text-decoration: none;
}

.form-input-label {
  margin-bottom: 0.3rem;
  color: #202020;
  margin-left: 0.2rem;
}

.form-input {
  width: 24rem;
}

/********* Scrollbar *********/
/* Works on Firefox */
* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #f2f2f2;
}

*::-webkit-scrollbar-thumb {
  background-color: #878787;
  border-radius: 20px;
  border-right: 1px solid #f0f0f0;
}

/********* EOF Scrollbar *********/
.Drawer-component {
  width: 29.25rem !important;
  padding-top: 5.4rem;
}

.heading {
  font-size: 2rem;
  color: #333333;
}

/* Import Pages */
.NewPuzzle {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.5rem;
}
.NewPuzzle .NewPuzzle-left-col .NewPuzzle-left-col-inputs-section {
  padding-bottom: 1.7rem;
  border-bottom: 1px solid #c1c1c1;
  margin-bottom: 2rem;
}
.NewPuzzle .NewPuzzle-left-col .NewPuzzle-left-col-inputs-section .NewPuzzle-left-col-inputs-section-day-picker {
  margin-left: -1.3rem;
}
.NewPuzzle .NewPuzzle-left-col .NewPuzzle-left-col-inputs-section:first-of-type {
  margin-bottom: -0.6rem;
  border-bottom: 0;
}
.NewPuzzle .NewPuzzle-left-col .NewPuzzle-left-col-inputs-section:last-of-type {
  border-bottom: 0;
}
.NewPuzzle .NewPuzzle-left-col .NewPuzzle-left-col-inputs-section p {
  margin-top: 1rem;
}
.NewPuzzle .NewPuzzle-right-col {
  position: fixed;
  bottom: 3%;
  right: -1%;
  padding-top: 4rem;
}
.NewPuzzle .NewPuzzle-save-btn-wrapper {
  position: fixed;
  top: 5rem;
  left: 46%;
}
.NewPuzzle .NewPuzzle-save-btn-wrapper button {
  width: 9rem;
  height: 4rem;
  background: #ff165c;
  font-size: 1rem;
  font-weight: bold;
}

/* Import Components */
@keyframes visibility-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.AdminLayout {
  animation-name: visibility-anim;
  animation-duration: 1s;
}
.AdminLayout .AdminLayout-body-container {
  display: flex;
}
.AdminLayout .AdminLayout-no-secondary-menu-margin {
  margin-left: 7.5rem;
}
.AdminLayout .AdminLayout-content {
  width: 100%;
  margin-left: 11rem;
  margin-top: 2rem;
}

@media (max-width: 1023px) {
  .AdminLayout-no-secondary-menu-margin {
    display: none;
  }
  .AdminLayout-content {
    margin-left: 0 !important;
    padding: 0.55rem 2rem 2rem 2rem;
  }
}
.AdminHeader-container {
  margin: 0;
  padding: 0;
  position: relative;
  height: 70px;
  z-index: 1000;
}
.AdminHeader-container .AdminHeader-container-fixed {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: inherit;
  background: #3d3d3d;
}
.AdminHeader-container .AdminHeader-container-fixed .AdminHeader-drawer-hamburger-btn {
  visibility: hidden;
}
.AdminHeader-container .AdminHeader-container-fixed .AdminHeader-brand-logo {
  display: flex;
  position: fixed;
  top: 0.84rem;
  left: 1.2rem;
  width: 14rem;
  font-size: 20px;
}
.AdminHeader-container .AdminHeader-container-fixed .AdminHeader-brand-logo .AdminHeader-logo {
  padding: 0.2rem 1rem;
  border-radius: 1.5rem;
  background: #fff;
}
.AdminHeader-container .AdminHeader-container-fixed .AdminHeader-brand-logo .AdminHeader-logo-dashboard-text {
  color: #fff;
  font-size: 1.3rem;
  margin-top: 0.57rem;
  margin-left: 0.7rem;
}
.AdminHeader-container .AdminHeader-container-fixed .AdminHeader-right-items {
  display: flex;
  position: fixed;
  height: 70px;
  justify-content: space-between !important;
  align-items: center;
  right: 22.5px;
}
.AdminHeader-container .AdminHeader-container-fixed .AdminHeader-right-items .AdminHeader-right-items-avatar-dropdown {
  cursor: pointer;
}
.AdminHeader-container .AdminHeader-container-fixed .AdminHeader-right-items .AdminHeader-right-items-avatar-dropdown .AdminHeader-right-items-avatar-dropdown-avatar {
  cursor: pointer;
  background: #808080;
  margin-left: 15px;
}

.AdminHeader-avatar-dropdown-menu {
  position: absolute;
  right: 0% !important;
  width: 26%;
}

.AdminHeader-avatar-dropdown-list-item {
  padding: 5px;
}
.AdminHeader-avatar-dropdown-list-item a {
  color: inherit;
}

.AdminHeader-avatar-dropdown-icons {
  margin-right: 12px;
}

@media (max-width: 325px) {
  .AdminHeader-brand-logo img {
    max-width: 55%;
    height: 70px;
  }
  .AdminHeader-right-items {
    right: 7px !important;
  }
}
@media (max-width: 437px) {
  .AdminHeader-avatar-dropdown-menu {
    right: 1%;
    width: 86% !important;
  }
}
@media (min-width: 438px) and (max-width: 767px) {
  .AdminHeader-avatar-dropdown-menu {
    right: 1%;
    width: 45% !important;
  }
}
@media (min-width: 768px) and (max-width: 848px) {
  .AdminHeader-avatar-dropdown-menu {
    right: 1%;
    width: 25% !important;
  }
}
@media (min-width: 849px) and (max-width: 1016px) {
  .AdminHeader-avatar-dropdown-menu {
    right: 1%;
    width: 22% !important;
  }
}
@media (min-width: 1017px) and (max-width: 1500px) {
  .AdminHeader-avatar-dropdown-menu {
    right: 1%;
    width: 19% !important;
  }
}
@media (min-width: 1501px) and (max-width: 1950px) {
  .AdminHeader-avatar-dropdown-menu {
    right: 1%;
    width: 16% !important;
  }
}
@media (min-width: 1951px) and (max-width: 2560px) {
  .AdminHeader-avatar-dropdown-menu {
    right: 1%;
    width: 13% !important;
  }
}
@media (min-width: 326px) and (max-width: 437px) {
  .AdminHeader-brand-logo img {
    max-width: 58%;
    height: 70px;
  }
  .AdminHeader-right-items {
    right: 7px !important;
  }
}
@media (min-width: 438px) and (max-width: 492px) {
  .AdminHeader-right-items {
    right: 6px !important;
  }
}
@media (max-width: 767px) {
  .AdminHeader-brand-logo {
    left: 50px !important;
  }
}
@media (max-width: 1024px) {
  .AdminHeader-drawer-hamburger-btn {
    display: flex;
    align-items: center;
    margin-left: 20px;
    visibility: visible !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .AdminHeader-brand-logo {
    left: 70px !important;
  }
}
@keyframes visibility-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Menu-container {
  display: none;
  justify-content: left;
  align-items: center;
  position: fixed;
  top: 70px;
  width: 160px;
  height: 100vh;
  background-color: #fff;
  padding-top: 0.75rem;
  padding-left: 5px;
  border-right: 1px solid #cccccc;
  z-index: 150;
  border-bottom-right-radius: 16px;
}
.Menu-container:hover {
  width: 270px;
  padding-left: 0;
  animation-name: visibility-anim;
  animation-duration: 1s;
}
.Menu-container:hover .Menu-nav-item-link-text {
  display: inline;
}
.Menu-container .Menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 10px;
  scrollbar-width: none;
}
.Menu-container .Menu-nav::-webkit-scrollbar {
  height: 6px;
}
.Menu-container .Menu-nav::-webkit-scrollbar-track {
  background: #fff !important;
  margin-right: 8px;
}
.Menu-container .Menu-nav-item {
  width: 100%;
}
.Menu-container .Menu-nav-item-link {
  display: flex;
  align-items: center;
  height: 3.5rem;
  transition: 0.6s;
}
.Menu-container .Menu-nav-item-link .Menu-nav-item-icon {
  width: 50px;
  padding: 16px;
  color: #6A7284;
}
.Menu-container .Menu-nav-item-link .Menu-nav-item-icon i {
  margin-left: 1px;
}
.Menu-container .Menu-nav-item-link .Menu-nav-item-icon img {
  margin-left: 1px;
  padding-right: 10px;
}
.Menu-container .Menu-nav-item-link .Menu-nav-item-icon-active {
  display: flex;
  background: #E5EEFA;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-left: 9px !important;
}
.Menu-container .Menu-nav-item-link .Menu-nav-item-icon-active i {
  margin-left: -2px;
  margin-top: 1.5px;
}
.Menu-container .Menu-nav-item-link .Menu-nav-item-icon-active img {
  margin-left: 10px;
  padding-right: 10px;
  padding-top: 12%;
}
.Menu-container .Menu-nav-item-link:hover .Menu-nav-item-icon {
  background: #ededed;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.Menu-container .Menu-nav-item-link:hover .Menu-nav-item-link-text {
  color: #194a96 !important;
}
.Menu-container .Menu-nav-item-link .Menu-nav-item-icon-tag {
  margin-left: 2px;
}
.Menu-container .Menu-nav-item-link-text {
  margin-left: 1rem;
  display: none;
  color: #989da8 !important;
}

@media (max-width: 1023px) {
  .Menu-container {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    padding-left: 0;
  }
  .Menu-container:hover {
    animation: none;
  }
  .Menu-nav {
    padding: 40px 0;
  }
  .Menu-nav-item-link {
    width: fit-content;
  }
  .Menu-nav-item-projects {
    margin-left: 38px !important;
  }
}
@media (min-width: 1024px) {
  .Menu-container {
    display: flex !important;
    position: fixed !important;
    top: 70px !important;
    width: 60px !important;
    height: 100vh !important;
    background-color: #fff !important;
    transition: width 0.35s ease-in-out !important;
    padding-top: 0.75rem !important;
    border-right: 1px solid #cccccc !important;
    overflow: hidden !important;
    z-index: 100 !important;
  }
  .Menu-container:hover {
    width: 170px !important;
  }
  .Menu-container:hover .Menu-nav-item-link-text {
    display: inline !important;
  }
  .Menu-nav {
    display: flex !important;
    justify-content: left !important;
    align-items: center !important;
    flex-direction: column !important;
    height: 100% !important;
    padding-left: 0 !important;
    margin-top: 0 !important;
  }
  .Menu-nav-item {
    width: 100% !important;
  }
  .Menu-nav-item-link {
    display: flex !important;
    align-items: center !important;
    height: 3.5rem !important;
    transition: 0.6s !important;
  }
  .Menu-nav-item-link-text {
    margin-left: 0.5rem !important;
    display: none !important;
  }
}
.Menu-nav-item-link-text-hover:hover {
  display: inline;
  margin-left: 1.5rem;
}

@media (min-width: 325px) and (max-width: 371px) {
  .Menu-container {
    width: 90vw !important;
  }
}
.AdminGrid {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: -8.5rem;
}
.AdminGrid .AdminGrid-wrapper {
  display: flex;
  justify-content: right;
  width: 44.5rem;
}
.AdminGrid .AdminGrid-wrapper .AdminGrid-box {
  width: 26.7rem;
  height: 26.8rem;
  background: #fff;
  border-radius: 1.2rem;
  margin-top: 3.25rem;
}
.AdminGrid .AdminGrid-wrapper .AdminGrid-box .AdminGrid-box-row {
  display: flex;
}
.AdminGrid .AdminGrid-wrapper .AdminGrid-box .AdminGrid-box-row:first-of-type .AdminCell:first-of-type .AdminCell-box-wrapper {
  border-top-left-radius: 1.2rem;
}
.AdminGrid .AdminGrid-wrapper .AdminGrid-box .AdminGrid-box-row:first-of-type .AdminCell:last-of-type .AdminCell-box-wrapper {
  border-top-right-radius: 1.2rem;
}
.AdminGrid .AdminGrid-wrapper .AdminGrid-box .AdminGrid-box-row:last-of-type .AdminCell:first-of-type .AdminCell-box-wrapper {
  border-bottom-left-radius: 1.2rem;
}
.AdminGrid .AdminGrid-wrapper .AdminGrid-box .AdminGrid-box-row:last-of-type .AdminCell:last-of-type .AdminCell-box-wrapper {
  border-bottom-right-radius: 1.2rem;
}
.AdminGrid .AdminGrid-wrapper .AdminGrid-guess-wrapper {
  width: fit-content;
  font-size: 1.15rem;
  margin-top: 13rem;
  margin-left: 1.75rem;
  font-weight: 500;
  color: #555555;
}
.AdminGrid .AdminGrid-wrapper .AdminGrid-guess-wrapper p:last-of-type {
  text-align: center;
  font-size: 4.4rem;
  font-weight: bold;
  margin-top: -1.3rem;
  color: #363636;
}

@media (min-width: 325px) and (max-width: 519px) {
  .AdminGrid .AdminGrid-wrapper {
    width: 100% !important;
    flex-direction: column;
    margin-left: 12%;
  }
  .AdminGrid .AdminGrid-wrapper .AdminGrid-guess-wrapper {
    width: 100% !important;
    text-align: center !important;
    margin: 15% 0 -20% -10%;
  }
  .AdminGrid .AdminGrid-box {
    width: 16.05rem !important;
    height: 16rem !important;
  }
  .AdminGrid .AdminGrid-box .AdminGrid-box-row .AdminCell .Cell-box-wrapper {
    width: 5.4rem;
    height: 5.4rem;
  }
}
@media (min-width: 520px) and (max-width: 766px) {
  .AdminGrid .AdminGrid-wrapper {
    width: 100% !important;
    flex-direction: column;
    margin-left: 10%;
  }
  .AdminGrid .AdminGrid-wrapper .AdminGrid-guess-wrapper {
    width: 100% !important;
    text-align: center !important;
    margin: 15% 0 -20% -10%;
  }
  .AdminGrid .AdminGrid-box {
    width: 20.8rem !important;
    height: 20.8rem !important;
  }
  .AdminGrid .AdminGrid-box .AdminGrid-box-row .Cell .Cell-box-wrapper {
    width: 7rem;
    height: 7rem;
  }
}
.AdminCell {
  position: relative;
}
.AdminCell .AdminCell-box-wrapper {
  width: 9rem;
  height: 9rem;
  border: 1px solid #dfdfdf;
  margin: -0.5px;
}
.AdminCell .AdminCell-box-wrapper:hover {
  background: #e89090;
}
.AdminCell .AdminCell-box-wrapper .AdminCell-box {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.65rem;
  color: #626262;
}
.AdminCell .AdminCell-left-img-with-text-wrapper {
  position: absolute;
  top: 0;
  left: -6rem;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
}
.AdminCell .AdminCell-left-img-with-text-wrapper img {
  position: relative;
}
.AdminCell .AdminCell-left-img-with-text-wrapper .AdminCell-left-img-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  top: 0;
  left: -10rem;
  text-align: center;
  word-break: keep-all;
  font-size: 1.35rem;
}
.AdminCell .AdminCell-top-img-with-text-wrapper {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.AdminCell .AdminCell-top-img-with-text-wrapper img {
  margin-bottom: 0.55rem;
}
.AdminCell .AdminCell-top-img-with-text-wrapper .AdminCell-top-img-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 4rem;
  font-size: 1.3rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  word-break: keep-all;
  padding: 0 0.6rem 0.15rem 0.6rem;
}
.AdminCell .AdminCell-left-text-wrapper {
  position: absolute;
  left: -108.5%;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  font-size: 1.65rem;
  word-break: keep-all;
  padding: 0 0.6rem;
}
.AdminCell .AdminCell-left-text-wrapper .AdminCell-left-text {
  padding: 0;
  margin: 0;
}
.AdminCell .AdminCell-top-text-wrapper {
  position: absolute;
  top: -111%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-size: 1.65rem;
  word-break: keep-all;
  padding: 0 0.6rem;
}
.AdminCell .AdminCell-top-text-wrapper .AdminCell-top-text {
  padding: 0;
  margin: 0;
}

@media (min-width: 325px) and (max-width: 519px) {
  .AdminCell p {
    font-size: 1.05rem;
  }
  .AdminCell-top-text {
    top: -9rem !important;
  }
  .AdminCell-left-text {
    width: 3rem !important;
    left: -4rem !important;
  }
}
@media (min-width: 520px) and (max-width: 766px) {
  .AdminCell p {
    font-size: 1.4rem;
  }
  .AdminCell-top-text {
    top: -9.3rem !important;
  }
  .AdminCell-left-text {
    width: 0.3rem !important;
    left: -4rem !important;
  }
}
.FeedMovies .FeedMovies-heading {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
}
.FeedMovies .FeedMovies-cell-label-text {
  position: absolute;
  top: -0.6rem;
  right: 1.57rem;
  font-size: 3rem;
  font-weight: bold;
  color: #3cc641;
}
.FeedMovies .FeedMovies-select-movies-wrapper {
  margin-top: -1.9rem;
  padding-right: 2rem;
  margin-left: 1.5rem;
}
.FeedMovies .FeedMovies-select-movies-wrapper .FeedMovies-select-movies {
  width: 100%;
}
.FeedMovies .FeedMovies-select-movies-pills-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0.7rem;
  margin-top: 1.34rem;
  padding-left: 1.5rem;
}
.FeedMovies .FeedMovies-select-movies-pills-wrapper .FeedMovies-select-movies-pills-no-selection-text {
  width: 100%;
  text-align: center;
  color: #808080;
  margin-top: 6rem;
}

.Pill {
  position: relative;
  background: #383838;
  color: #fff;
  width: fit-content;
  padding: 0.37rem 1.8rem 0.37rem 1rem;
  border-radius: 0.6rem;
}
.Pill .Pill-cross-icon {
  position: absolute;
  top: 0.47rem;
  right: 0.4rem;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
