.AdminCell
  position: relative

  .AdminCell-box-wrapper
    width: 9rem
    height: 9rem
    border: 1px solid #dfdfdf
    margin: -0.5px

    &:hover
      background: #e89090  
      
  .AdminCell-left-img-with-text-wrapper
    position: absolute
    top: 0
    left: -6rem
    width: 100%
    height: 100%
    max-height: 100%
    display: flex
    align-items: center

    img
      position: relative

    .AdminCell-left-img-text
      width: 100%
      height: 100%
      display: flex
      justify-content: right
      align-items: center
      position: absolute
      top: 0
      left: -9rem
      text-align: center
      word-break: break-all
      font-size: 1rem

  .AdminCell-top-img-with-text-wrapper
    position: absolute
    top: -7.4rem
    left: 0
    width: 100%
    height: 100%
    max-height: 100%
    display: flex
    justify-content: center
    align-items: center

    img
      position: relative

    .AdminCell-top-img-text
      width: 100%
      height: 4rem
      margin-top: -6.87rem
      text-align: center
      word-break: break-all
      font-size: 1rem
      padding: 0 0.6rem

  .AdminCell-top-img-wrapper
    width: 100%
    position: absolute
    display: flex
    justify-content: center
    top: -7rem
    left: 0
  
  p
    position: absolute
    width: 100%
    height: 7.7rem
    font-size: 1.89rem
    text-align: center
    display: flex
    justify-content: center
    align-items: flex-end
    font-family: 'Kanit', sans-serif

  .AdminCell-top-text
    top: -9.45rem
    text-transform: capitalize

  .AdminCell-left-text
    height: 100%
    top: 0
    left: -10rem
    align-items: center
    text-transform: capitalize

@media (min-width: 325px) and (max-width: 519px)
  .AdminCell
    p
      font-size: 1.05rem

  .AdminCell-top-text
    top: -9rem !important

  .AdminCell-left-text
    width: 3rem !important
    left: -4rem !important


@media (min-width: 520px) and (max-width: 766px)
  .AdminCell
    p
      font-size: 1.4rem

  .AdminCell-top-text
    top: -9.3rem !important

  .AdminCell-left-text
    width: 0.3rem !important
    left: -4rem !important
