.AdminCell
  position: relative

  .AdminCell-box-wrapper
    width: 9rem
    height: 9rem
    border: 1px solid #dfdfdf
    margin: -0.5px

    &:hover
      background: #e89090  
      
  .AdminCell-left-img-with-text-wrapper
    position: absolute
    top: 0
    left: -6rem
    width: 100%
    height: 100%
    max-height: 100%
    display: flex
    align-items: center

    img
      position: relative

    .AdminCell-left-img-text
      width: 100%
      height: 100%
      display: flex
      justify-content: right
      align-items: center
      position: absolute
      top: 0
      left: -9rem
      text-align: center
      word-break: break-all
      font-size: 1.35rem

  .AdminCell-top-img-with-text-wrapper
    position: absolute
    top: -100%
    left: 0
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: flex-end

    img
      margin-bottom: 0.55rem

    .AdminCell-top-img-text
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      height: 4rem
      font-size: 1.3rem
      display: flex
      align-items: flex-end
      justify-content: center
      text-align: center
      word-break: keep-all
      padding: 0 0.6rem 0.15rem 0.6rem 

  .AdminCell-left-text-wrapper
    position: absolute
    left: -108.5%
    top: 0
    width: 100%
    height: 100%
    display: flex
    justify-content: flex-end
    align-items: center
    text-align: center
    font-size: 1.65rem
    word-break: break-all
    padding: 0 0.6rem

    .AdminCell-left-text
      padding: 0
      margin: 0

  .AdminCell-top-text-wrapper
    position: absolute
    top: -111%
    left: 0
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: flex-end
    text-align: center
    font-size: 1.65rem
    word-break: keep-all
    padding: 0 0.6rem

    .AdminCell-top-text
      padding: 0
      margin: 0

@media (min-width: 325px) and (max-width: 519px)
  .AdminCell
    p
      font-size: 1.05rem

  .AdminCell-top-text
    top: -9rem !important

  .AdminCell-left-text
    width: 3rem !important
    left: -4rem !important


@media (min-width: 520px) and (max-width: 766px)
  .AdminCell
    p
      font-size: 1.4rem

  .AdminCell-top-text
    top: -9.3rem !important

  .AdminCell-left-text
    width: 0.3rem !important
    left: -4rem !important
